
@{
    ViewBag.Title = "Visitor Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<MVC.Domain.Model.VisitorModel>
<div class="section-header">
    <h1>Visitor Report</h1>
    <ol class="breadcrumb">

        <li class="breadcrumb-item"><a href=@Url.Action("Dashboard", "Admin")>Dashboard</a></li>


        <li class="breadcrumb-item active">Visitors</li>

    </ol>


</div>

<div class="section-body">
    <div class="card">
        <div class="card-body">
            <input type="hidden" name="_token" value="zqHFaOzgpwZQldiJZePT2wudDxeGvii0FyUUoi4P">                        <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <div class="form-group">
                        <label>From Date</label>
                        <input type="date" name="from_date" id="val_start_date" class="form-control  datepicker">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="form-group">
                        <label>To Date</label>
                        <input type="date" name="to_date" id="val_to_date" class="form-control  datepicker">
                    </div>
                </div>
                <div class="col-lg-1" style="margin-top: 30px;">
                    <button class="btn btn-primary" onclick="FetchVisitorReportDetails()"><i class="fa fa-search"></i></button>
                </div>
                <div class="col-lg-2" style="margin-top: 30px;">

                    <button class="btn btn-success" name="btnExport" onclick="downloadExcelTemplate()">Export to Excel</button>
                </div> 
            <div class="col-lg-2" style="margin-top: 30px;">

                    <button class="btn btn-success" name="btnExport" onclick="MyViewFunction()">Click Me</button>
                </div>

            </div>

            <div id="all_purchase_report" style="display:none;">
                <div class="table-responsive">
                    <table id="example" class="table table-striped dataTable no-footer">
                        <thead>
                            <tr>
                                @*
                            <th>SrNo</th>*@
                                <th>ID</th>
                                <th>TokenNo</th>
                                <th>InDateTime</th>
                                <th>OutDateTime</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {

                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ID</td>
                                        <td>@item.TokenNo</td>
                                        <td>@item.InDateTime</td>
                                        <td>@item.OutDateTime</td>

                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Include your JavaScript libraries -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    function toggleTableVisibility() {
    debugger
         var tableDiv = document.getElementById("all_purchase_report");
        tableDiv.style.display = "block";
    }
</script>

<script>
    function tableShow(){
    $("#all_purchase_report").show();
    }

 function FetchVisitorReportDetails() {
    debugger;
    tableShow();
    var Start = $("#val_start_date").val();
    var End = $("#val_to_date").val();

    var element = {};
    element.StartDate = Start;
    element.EndDate = End;

    data = JSON.stringify(element);

    $.ajax({
        url: "/Report/GetVisitorReportDetailsList",
        type: "POST",
        data: data,
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            debugger;

            // Update the partial view with the received data
            $('#all_purchase_report').html(data);
        }
    });
}

function downloadExcelTemplate() {
    debugger
    window.location = '@Url.Action("ExportToExcelVisitors", "Report")';
}



   function MyViewFunction() {

   
        
            $.ajax({
                url: "/Visitor/GetVisitorDetailByID",
                   
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                  
                    $("#viewVisitors").html(data);

      document.getElementById('viewVisitors').style.display = 'block';
       document.getElementById('visitorList').style.display = 'none';
                   
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                  //  $("#tracker-loader").fadeOut("slow");
                }
            });

        }


</script>